/* Objective */
a {
	text-decoration: none;
	list-style: none;
	color: #363636;
	text-align: right;
}

a:hover, {
	color: #000;
}

.banner {
	background-color: #C4634F;
	margin-top: -10px;
	margin-bottom: 30px;
}

body {
	font-family: 'Calibri';
	color: #363636;
	background-color: #132139;
	font-size: 16px;
	margin-left: 20px;
	background: url("../img/grey_wash_wall.png");
}

.contact {
	list-style: none;
	margin-left: 0px;
}

.container {
	background-color: #F5EDE0;
}

.education {
	margin-left: 5px;
}

.footer {
	text-align: center;
	color: black;
}

h1 {
	color: #8C201F;	
	font-family: 'Cinzel Decorative', cursive;
	font-weight: 700;
	font-size: 36px;
	text-align: center;
	margin-bottom: 0px;
}

h2 {
	font-family: 'Cinzel Decorative', serif; 
	font-weight: 475px;
	font-size: 20px;
	color: #C4634F;
	margin-top: -10px;
	margin-left: 5px;
	margin-bottom: 10px;
}

h3 {
	color: #767676;
	font-family: 'Droid Serif', serif;
	font-size: 16px;
	margin-left: 20px;
}

h4 {
	font-family: 'Cinzel Decorative', serif; font-weight: 400;
	color: black;
	font-size: 16px;
	margin-top: 0em;
	margin-bottom: -.75em;
	margin-left: 10px;
	text-transform: uppercase;
}


img {
	padding: 1px;
	border: 2px solid #021a40;
	border-radius: 40px;
	width: 130px;
	height: 160px;
	margin-top: -1em;
	margin-bottom: -.5em;
	margin-left: 15px;
}

.links_top {
	color: black;
	font-family: 'Cinzel Decorative', serif;
	font-size: 15px;
	text-align: center;
	text-decoration: none;
	list-style: none;
	margin-bottom: -5em;

}

.major_minor {
	font-size: 23px;
	font-family: 'Cinzel Decorative', serif; font-weight: 400;
	color: #363636;
	margin-bottom: -1.5em;
	margin-left: 10px;
}


@media (max-width: 1680;) {
	body {
		font-size: 16px;
	}
	.container {
		max-width: 70%;
	}
}

.nav_top {
	color: #132139;
	text-align: right;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: -15px;

}

p {
	color: #132139;
	margin-left: 20px;
}

.panel {
	background-color: #696969;
	border-radius: 30px;
	color: white;
	font-size: 16px;
	height: 25px;
	margin-left: 0px;
	text-transform: uppercase;
	width: 230px;
}

.index {
	color: #BB4D3E;
}
.subtitle {
	color: #fff;
	text-align: center;
	font-size: 14px;
}

ul li {
	color: #363636;
	text-decoration: none;
	list-style: none;
	margin-left: -20px;
}